@import "./_reset.css";
@import "./_code-highlighter.css";
@import "./_theme.css";
@import "./_prose.css";

@layer utilities {
  .container {
    width: min(100%, 80ch);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .sr-only[data-focus-visible] {
    position: static;
    width: auto;
    height: auto;
  }
}
