.heading {
  position: relative;
  scroll-margin-block: 1em;
}

.anchor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
}

.link {
  padding: 0.25em;
  transform: translateY(0.075em);
  outline: 0;
  border-radius: 6px;

  & svg {
    width: 0.75em;
    height: 0.75em;
    color: var(--text-secondary);
  }

  &[data-focus-visible] {
    outline: var(--highlight) auto 2px;
    outline-offset: -2px;
  }

  &[data-hovered] {
    background: var(--bg-hovered);
  }
}
