.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin-inline-start: -0.75rem;
  cursor: pointer;
  border-radius: 6px;
  outline: 2px solid transparent;
  transition: 200ms ease-out;
  transition-property: background-color, transform;
  transform-origin: center;
  text-decoration: none;

  &[data-hovered] {
    background-color: var(--bg-hovered);
    transition-duration: 80ms;
  }

  &[data-pressed] {
    background-color: var(--bg-hovered);
    transform: scale(0.98) translateY(1px);
    transition-duration: 80ms;
  }

  &[data-focus-visible] {
    outline-color: var(--highlight);
  }

  & img {
    width: 1.5rem;
    height: 1.5rem;
    margin-inline-end: 0.5rem;
    border-radius: 999px;
  }
}

.nav {
  display: flex;
  margin-inline-end: -0.75rem;
  gap: 0.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 6px;
  outline: 2px solid transparent;
  transition: 200ms ease-out;
  transition-property: background-color, transform;
  transform-origin: center;
  text-decoration: none;

  &[data-hovered] {
    background-color: var(--bg-hovered);
    transition-duration: 80ms;
  }

  &[data-pressed] {
    background-color: var(--bg-hovered);
    transform: scale(0.98) translateY(1px);
    transition-duration: 80ms;
  }

  &[data-focus-visible] {
    outline-color: var(--highlight);
  }
}
