.container {
  width: min(100%, 60ch);
  margin-inline: auto;
  padding-inline: 1rem;
}

.introduction {
  margin-block: 4rem;

  & h1 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  & p {
    font-size: 1rem;
    margin-block-start: 1rem;
  }
}

.icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  margin-inline: 0;
  padding-inline: 0.25rem;
  padding-block: 0.125rem;
  margin-block: -0.125rem;
  transform: translateY(0.25rem);
  border: 1px solid var(--border);
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.875rem;
  color: inherit;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: 300ms ease-out;
  transition-property: background-color, border-color, transform;
  transform-origin: center;

  & img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 4px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  &[data-hovered] {
    transition-duration: 80ms;
    background-color: var(--bg-hovered);
    border-color: var(--border-hovered);
  }

  &[data-pressed] {
    background-color: var(--bg-hovered);
    transform: scale(0.98) translateY(calc(0.25rem + 1px));
    transition-duration: 80ms;
  }

  &[data-focus-visible] {
    outline-color: var(--highlight);
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  padding-inline: 0.25rem;
  padding-block: 0.125rem;
  margin-block: -0.125rem;
  border: 1px solid var(--border);
  border-radius: 6px;
}

.writing {
  display: grid;
  gap: 2rem;
  margin-block: 4rem;

  & h2 {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.posts {
  display: grid;
  gap: 2rem;
  padding: 0;
  list-style: none;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  outline: 2px solid transparent;
  transition: 300ms ease-out;
  transition-property: background-color, transform;
  padding: 0.5rem 0.75rem;
  transform-origin: center;
  border-radius: 6px;
  margin: -0.75rem;

  &[data-hovered] {
    background-color: var(--bg-hovered);
    transition-duration: 80ms;
  }

  &[data-pressed] {
    background-color: var(--bg-hovered);
    transform: scale(0.99) translateY(1px);
    transition-duration: 80ms;
  }

  &[data-focus-visible] {
    outline-color: var(--highlight);
  }

  & h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  & p {
    color: var(--text-secondary);
  }
}
